<ul>
  <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
  <li><a [routerLink]="['/favourite']" routerLinkActive="router-link-active">我的最愛</a></li>
</ul>
<p></p>
<button class="btn" style="width:100px ;height:30px" (click)="removelocal()">移除我的最愛</button>
<br>
<ng-container *ngIf="saveForm.get('changeId').value!=null" [formGroup]="saveForm">
  <div>
    <label>修改名稱</label>
    <input type="hidden" formControlName="changeId">
    <input style="margin: 1%;" type="text" formControlName="changeData">
    <input type="button" class="btn" style="width:100px ;height:30px" (click)="save()" value="儲存">

  </div>
</ng-container>
<p></p>


<div class="col-12 divBorder" style="display: flex;align-items: center; " *ngFor="let item of attraction">
  <input type="checkbox" (click)="clickAttraction(item)" id={{item.id}}>
  <div id="LeftCol" class="col-11">
    <div id="IDXNews" class="MainList">
      <div class="mask">
        <div class="item_block">
          <a (click)="detail(item.id)">
            <div *ngIf="item.images.length>0" class="item_img" style="background-image:url({{item.images[0].src}})">
            </div>
            <div class="item_txt">
              <div class="item_topic dotdotdot">{{item.name}}</div>
              <div class="item_desc dotdotdot">{{item.introduction}}
              </div>
            </div>
          </a>
        </div>
        <input type="button" (click)="change(item.id)" name="" id="" value="編輯">
      </div>
    </div>
  </div>
</div>
