/*設定 a 標籤的css樣式*/
.page-normal a {
  border: 1px solid #ff6500;
  padding: 5px 7px;
  color: #ff6500;
  margin-left: 20px;
  /*設定標籤 a 之間的間隔*/
  text-decoration: none;
  /*去除頁碼數字下面的下劃線*/
  justify-content: center;
  align-items: center
}

/*設定滑鼠經過時 a 標籤的css樣式*/
.page-normal a:hover {
  background-color: #ffbe94;
}

/*設定整個div的css樣式,該樣式主要用於設定網頁內的省略號 …… 的樣式，並且同時設定內容居中顯示*/
.page-normal {
  color: #ff6500;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*設定當前頁面的css樣式*/
.page-normal .page-current {
  color: #ffffff;
  background-color: #ff6500;
}

/*設定左單括號 < 的css樣式*/
.page-normal .page-prev {
  color: #ffe3c6;
}

/*進行程式碼優化，將不同css樣式中共有的屬性放在一起，有助於提高執行效率*/
.page-normal a,
.page-normal a:hover,
.page-normal .page-prev,
.page-normal .page-current {
  border: 1px solid #ff6500;
  padding: 5px 7px;
}

.txt-line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

}


#LeftCol .MainList .item_img {
  width: 280px;
  height: 160px;
  float: left;
}

#LeftCol .MainList .item_block a {
  color: #717171;
  text-decoration: none;
}

#LeftCol .MainList .item_img {
  width: 280px;
  height: 160px;
  float: left;
}

.item_img {
  display: block;
  position: relative;
  background: no-repeat top center #41b7e3;
  background-size: cover;
  overflow: hidden;
}

#LeftCol .MainList .item_txt {
  margin-left: 300px;
  position: relative;
  height: 160px;
}

#LeftCol .MainList .item_block a {
  color: #717171;
  text-decoration: none;
}

#LeftCol .MainList .item_topic {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  max-height: 56px;
  overflow: hidden;
  padding-bottom: 4px;
  color: #000;
}

#LeftCol .MainList .item_desc {
  font-size: 16px;
  line-height: 28px;
  max-height: 56px;
  color: #717171;
  overflow: hidden;
}

#LeftCol .MainList .item_auth {
  position: absolute;
  font-size: 16px;
  color: #717171;
  line-height: 16px;
  left: 0;
  bottom: 0;
}

#LeftCol .MainList .item_block:after {
  content: '';
  display: block;
  clear: both;
}

#RightCol>div:first-child,
#LeftCol>div:first-child,
.index-page #LeftCol>div:first-child {
  margin: 0;
}

#RightCol>div,
#LeftCol>div {
  margin-top: 20px;
}

#posts .deco #LeftCol {
  width: 910px;
  float: left;
  overflow: hidden;
  position: relative;
  padding-bottom: 60px;
}

#posts .deco #RightCol {
  width: 300px;
  float: right;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  -webkit-transition: translateZ(0px);
  -o-transition: translateZ(0px);
  transition: translateZ(0px);
  transform: translate3d(0px, 0px, 0px);
}

#posts .deco {
  width: 1260px;
  margin: 0 auto;
}
