<ul>
  <li><a href="/">Home</a></li>
  <li><a [routerLink]="['/favourite']" routerLinkActive="router-link-active">我的最愛</a></li>
</ul>
<p></p>
<div class="col-8">
  <ng-container [formGroup]="searchForm">
    <select formControlName="categoryIds">
      <option [value]="null">請選擇</option>
      <option [value]="item.id" *ngFor="let item of  category|async">{{item.name}}</option>
    </select>

  </ng-container>

  <button (click)="savelocal()">存到我的最愛</button>

  <div class="col-12" style="display: flex;align-items: center; " *ngFor="let item of attraction">
    <input type="checkbox" (click)="clickAttraction(item)" id={{item.id}}>
    <div id="LeftCol" class="col-11">
      <div id="IDXNews" class="MainList">
        <div class="mask">
          <div class="item_block">
            <a (click)="detail(item.id)">
              <div *ngIf="item.images.length>0" class="item_img" style="background-image:url({{item.images[0].src}})">
              </div>
              <div class="item_txt">
                <div class="item_topic dotdotdot">{{item.name}}</div>
                <div class="item_desc dotdotdot">{{item.introduction}}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p></p>
  <div class="page-normal col-12" *ngIf="total.length >0">
    <a (click)="togglePage(searchForm.get('page').value-1)"
      [ngClass]="{'page-prev':searchForm.get('page').value==1 }">&lt;</a>
    <!-- 數字1 代表當前頁面-->
    <a (click)="togglePage(num+1)" *ngFor=" let num of total" [ngClass]="{'page-current' : pageCheck(num) }">
      {{num+1}} </a>
    <a (click)="togglePage(searchForm.get('page').value+1)"
      [ngClass]="{'page-prev':searchForm.get('page').value-1==total[total.length-1] }">&gt;</a>
  </div>
</div>
